@using System.Security.Claims
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@model Task8Collection.Models.Account.UserProfileViewModel
@{
    string theme = string.IsNullOrEmpty(Context.Request.Cookies["theme"]) ? "light" : Context.Request.Cookies["theme"];
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName })
        .ToList();
}

<h3>@Model.User.UserName Page</h3>
@if (Model.User.UserName == User.Identity.Name)
{
    <ul class="navbar-nav flex-grow-1">
        <form asp-controller="Account" asp-action="SetLanguage"
              asp-route-returnUrl="@Context.Request.Path" asp-route-userName="@Model.User.UserName"
              method="post" class="form-horizontal">
            <li class="nav-item">
                <select class="form-select" name="culture" onchange="this.form.submit();"
                        asp-for="@requestCulture.RequestCulture.UICulture.Name"
                        asp-items="cultureItems"></select>
            </li>
        </form>
        <li class="nav-item mt-3">
            <form asp-controller="Account" asp-action="ChangeTheme"
                  method="post" class="form-horizontal">
                <select id="toggleTheme" class="form-select" name="theme" onchange="this.form.submit();">
                    @if (theme == "dark")
                    {
                        <option value="light">@Localizer["Light"]</option>
                        <option value="dark" selected="selected">@Localizer["Dark"]</option>
                    }
                    else
                    {
                        <option value="light" selected="selected">@Localizer["Light"]</option>
                        <option value="dark">@Localizer["Dark"]</option>
                    }
                </select>
            </form>
        </li>
    </ul>
}
@if (Model.User.UserName == User.Identity.Name || User.HasClaim(ClaimTypes.Role, "Admin"))
{
    <form method="post" asp-action="AddCollection" asp-controller="Collection" asp-route-userId="@Model.User.Id" asp-route-userName="@Model.User.UserName">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="mb-3">
            <label for="nameCollection" class="form-label">@Localizer["NameCollection"]</label>
            <input type="text" class="form-control" id="nameCollection" asp-for="NameNewCollection">
        </div>
        <div class="mb-3">
            <select id="collectionTheme" class="form-control" asp-for="ThemeId">
                @foreach (var item in Model.Themes)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="descriptionCollection" class="form-label">@Localizer["Discription"]</label>
            <textarea class="form-control" id="descriptionCollection" asp-for="Description"></textarea>
        </div>
        <button class="btn btn-primary" data-title="Add collection" type="submit">
            <i class="fa-solid fa-plus"></i>
        </button>
    </form>
}
<table class="table">
    @foreach (var collection in Model.UserCollection)
    {
        <tr>
            <td><a class="link-primary" asp-action="CollectionPage" asp-controller="Collection" asp-route-collectionId="@collection.Id">@collection.Name</a></td>
            <td>@collection.Theme.Name</td>
            @if (Model.User.UserName == User.Identity.Name || User.HasClaim(ClaimTypes.Role, "Admin"))
            {
                <td>

                    <a class="btn btn-primary" asp-action="CollectionEdit" asp-controller="Collection" asp-route-collectionId="@collection.Id" asp-route-userName="@Model.User.UserName">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </td>
            }
        </tr>
    }
</table>


